@use '@styles/_fonts';
@use '@styles/_variables';

.optionSquare {
    @include fonts.text-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 0.065rem solid var(--background);
    background-color: var(--tertiary);
    color: var(--text-color);
    width: 13.435rem;
    height: 11.25rem;

    &:hover {
      filter: brightness(1.1);
   }

   &.active {
    border: 0.185rem solid var(--primary);
  }

    .illustration {
        width: 12.185rem;
        height: 7.935rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit:fill;
        }
    }
      .label {
        text-align: center;
        color: var(--text-colour);
        padding-top: .315rem;
      }
}