// File contains common mixins used in the project

@use 'variables' as variables;
@use 'sass:map';

// Responsive breakpoint mixin
@mixin respond-to($breakpoint) {
  @media screen and (max-width: map.get(variables.$breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin scrollbar-dark {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.75rem;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--light-grey);
    border-radius: 4px;
    border: 1px solid var(--tertiary);
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }
}