// Figma dark theme colours
$primary: #FF253A;
$secondary: #300A17;
$tertiary: #323232;
$background: #222222;
$background-sec: #2E2E2E;
$dark-background: #0E0E0E;
$accent: #BB0808;
$text-colour: #FFFFFF;
$upload-stroke: #636363;
$alt-text: #B3B3B3;
$mid-grey: #8d8d8d;

// Baja colour
$baja-colour: #75151E;
$upload-stroke: #636363;

// Default theme (dark)
:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --tertiary: #{$tertiary};
  --background: #{$background};
  --background-sec: #{$background-sec};
  --dark-background: #{$dark-background};
  --accent: #{$accent};
  --text-colour: #{$text-colour};
  --alt-text: #{$alt-text};
  --baja-colour: #{$baja-colour};
  --light-grey: #{$upload-stroke};
  --mid-grey: #{$mid-grey};
}

// Light theme
[data-theme="light"] {
  --primary: #FF253A;
  --secondary: #300A17;
  --tertiary: #323232;
  --background: #FFFFFF;
  --accent: #BB0808;
  --text-colour: #000000;
  --alt-text: #B3B3B3;
}

// A map of z-index values for different components
$z-index: (
  dropdown: 1,
  footer: 1,
  sidebar: 2,
  success: 3,
  tooltip: 4,
  sidebarToggle: 5,
  modal: 6,
  graphHeader: 1,
  
);
