.columnHeaders{
    display: block;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    flex: 1;
  }

  .analyzersAndSeriesContainer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    flex: 1;
    height : 100%;
    min-width: 35rem;
    min-height: 30rem;
  }

  .addSeries{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .analyzerContainer{
    display: block;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    overflow:auto;
    flex: 1;
    background-color: #f1f1f1;
  }

  .analyzerBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }

  .boldText{
    font-weight: bold;
    margin : 0.5em;
  }

  .expandBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }

  .buttonFlexBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;

  }
  .pageThreeBackButton {
    margin: 1em;
    padding: 13px 29px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
    background: crimson;
    color: white;
    cursor: pointer;
}
.pageThreeNextButton {
  margin: 1em;
  padding: 13px 29px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  outline: none;
  background: crimson;
  color: white;
  cursor: pointer;
}