.chartContainer {
    resize: both;
    overflow: hidden;
    width: 100%;
    height: 92vh;
}

.chartContainer > * {
    /* margin-bottom: 15px; */
    font-family: "HelveticaNeueW01-77BdCnObl";
}

.highcharts-root {
	font-family: "HelveticaNeueW01-77BdCnObl" !important;
}

.chart {
    position: relative;
    overflow: hidden;
    
}

.highcharts-figure,
.highcharts-data-table table {
    margin: 1em auto;
}

.highcharts-data-table table {
    /* font-family: Verdana, sans-serif; */
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.loading {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}