@font-face {font-family: "HelveticaNeueW01-77BdCnObl"; 
  src: url("fonts/8b9f1de83c3fe10145c480637b2ea6e3.eot"); 
  src: url("fonts/8b9f1de83c3fe10145c480637b2ea6e3.eot?#iefix") format("embedded-opentype"), 
  url("fonts/8b9f1de83c3fe10145c480637b2ea6e3.woff2") format("woff2"), 
  url("fonts/8b9f1de83c3fe10145c480637b2ea6e3.woff") format("woff"), 
  url("fonts/8b9f1de83c3fe10145c480637b2ea6e3.ttf") format("truetype"), 
  url("fonts/8b9f1de83c3fe10145c480637b2ea6e3.svg#HelveticaNeueW01-77BdCnObl") format("svg"); }

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "HelveticaNeueW01-77BdCnObl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
