 /* Style the buttons that are used to open and close the accordion panel */
 .laptimes_accordion {
     background-color: #eee;
     color: #444;
     cursor: pointer;
     padding: 18px;
     width: 100%;
     text-align: left;
     border: none;
     outline: none;
     transition: 0.4s;
 }

 /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 .laptimes_active,
 .laptimes_accordion:hover {
     background-color: #ccc;
 }

 /* Style the accordion panel. Note: hidden by default */
 .laptimes_panel {
     padding: 0 18px;
     background-color: white;
     overflow: hidden;
     transition: max-height 0.2s ease-in-out;
 }

 td {
     text-align: left;
 }

 td:last-child {
    text-align: right;
 }

.laptimes {
    font-size: 20px;
 }

 .laptimes_drilldown {
    float: right;
 }