.map_ui_button {
    margin: 8px;
}

.map_ui_tool {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0%;
}

.map_ui_tool:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.map_ui_tool:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.map_ui_button.selected {
    filter: brightness(75%);
}

.map_ui_rect {
    cursor: url('../assets/icons/delete.svg') 10 10, crosshair;
}

.map_ui_select {
    margin: 10px;
    float: left;
}

.map_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.map_display_container {
    flex: 4 0 75%;
}

.map_laptime_container {
    flex: 0 0 25%;
    color: black;
    height: 100%;
}