#portal .container {
  font-family: 'Lato', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}

.container .modal {
  padding: 3rem;
  z-index: 1;
  background: white;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
  width: 35rem;
  height: 30rem;
}

.closeButton {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 8px 11px;
  background: crimson;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

button {
  padding: 13px 29px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  outline: none;
  background: crimson;
  color: white;
  cursor: pointer;
}

select {
  padding: 0.5em;
  border-radius: 3px;
  border: 1px solid black;
  outline: none;
  background: #f1f1f1;
  color: black;
  
}

select option:checked {
  background-color: crimson; 
  color: #fff; 
}

@keyframes animate {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

