#portal .container {
  font-family: 'Lato', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}

.container .modal {
  padding: 3rem;
  z-index: 1;
  background: white;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
  width: 35rem;
  height: 30rem;
}

.closeButton {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 8px 11px;
  background: crimson;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

button {
  padding: 13px 29px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  outline: none;
  background: crimson;
  color: white;
  cursor: pointer;
}

select {
  padding: 0.5em;
  border-radius: 3px;
  border: 1px solid black;
  outline: none;
  background: #f1f1f1;
  color: black;
  
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: calc(100% - 0.75rem) center;
  -moz-appearance:none;
  -webkit-appearance: none; 
  appearance: none;
  padding-right: 2rem;
  
}

select option:checked {
  background-color: crimson; 
  color: #fff; 
}

@keyframes animate {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

