    .background{
        background-color: #343434;
        height: 100%;
        /*border: 5px solid black;  */
    }

    .pageWrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pageContainer{ 
        width: 66%;
    }

    .videoContainerBox{
        position: relative;  
        width: 100%;
        height: 0; 
        padding-top: 56.25%; /*16:9 aspect ratio*/
        overflow: hidden; /* content that exceeds dimensions are hidden (prevent scrollbars) */
        border-radius: 12px;

    }

    .videoContainerBox video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .timeDisplay {
        padding-top: 7px;
        color: white;
    }

    .seekbar {
        width: 100%;
        margin: 0 auto;
        display: block;
        height: 30px; /*padding from bottom of video*/
        background: #ddd;
        outline: none;
        border-radius: 15x; /* rounded bar */
    }
  
    
