.videoSelectContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex: 1;
  }

.fileButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
}

.videoSelect {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    margin-bottom: 30px;
  }

.videoContainer {
    flex: 2;
    border: 2px solid black;
    margin-right: 10px;
    padding: 10px;
}

.folderContainer {
    flex: 1;
    border: 2px solid black;
    margin-left: 10px;
    padding: 10px;
}

.nextButton {
    padding: 13px 29px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
    background: crimson;
    color: white;
    cursor: pointer;
}

.backButton {
    padding: 13px 29px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
    background: crimson;
    color: white;
    cursor: pointer;
}