@use '@styles/_fonts';
@use '@styles/_variables';

.titleCard {
    display: flex;
    justify-content: space-between;
    gap: 7rem;
    align-items: center;
    width: 85.94rem;
    height: 21.69rem;
    background: linear-gradient(0deg, #222222 0%, #525252 98.5%);

    .textContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 100%;
        width: 27.83rem;
        height: 12.63rem;
        border: 1px solid var(--background);
        margin-left: 3rem;

        .title {
            @include fonts.title-huge;
            text-align: center;
            width: 90%;
            color: white;
            border: 1px solid var(--background);
            .highlight1, .highlight2 {
                background: linear-gradient(270.17deg, #B3FFAD 35%, #D28407 62.95%, #DD2F2F 84.06%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .description {
            @include fonts.text-large;
            text-align: center;
            width: 80%;
            color: white;
            border: 1px solid var(--background);
            margin-top: 10px;
        }
    }

    .graph {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40.19rem;
        height: 16.47rem;
        margin-right: 5rem;
        border: 1px solid var(--background);
    }
}