@use '@styles/_fonts';
@use '@styles/_variables';

$border-radius: 0.5rem;

.dataSelect {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .row {
        display: flex;
        gap: 1rem;
        align-items: center;
        width: 42rem;

        .column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .longDropDown {
                width: 17.75rem;
            }

            .toggle {
                @include fonts.text-large;
                background-color: var(--light-grey);
            
                &:hover {
                    background-color: var(--light-grey);
                }
            }

            .label {
                color: var(--alt-text);
                @include fonts.text-small;
                display: block;
                margin-bottom: 0.25rem;
            }
        }
    }
}





