.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px; // Set a maximum width for the modal
  min-height: 200px;
  width: 100%; // Ensure it adapts to smaller screens
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25); // Add some depth
  position: relative; // Needed for the close button
  animation: fadeIn 0.3s ease-in-out;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;

  &:hover {
    color: #f00;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
