@use '@styles/_variables';
@use "sass:map";

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: map.get(variables.$z-index, modal);

  animation: fadeOverlayIn 0.3s ease-in-out;

  &.close {
    animation: fadeOverlayOut 0.3s ease-in-out forwards;
  }
}

.modalContent {
  background: var(--background);
  color: var(--text-colour);
  padding: 1rem;
  border: 2px solid var(--light-grey);
  border-radius: 8px;
  max-width: calc(100vw - 2 * 4rem); // 4rem padding on each side
  min-width: 12.5rem;
  min-height: 6rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  position: relative; // Needed for the close button
  animation: fadeIn 0.3s ease-in-out;

  &.close {
    animation: fadeOut 0.3s ease-in-out forwards;
  }

  /* Responsive adjustments for smaller windows */
  @media screen and (max-width: 1024px) {
    padding: 0.75rem;
  }

  @media screen and (max-width: 768px) {
    max-width: calc(100vw - 2 * 1rem);
    padding: 0.5rem;
  }
}

.closeButton {
  all: unset;
  position: absolute;
  top: -1rem;
  right: -1rem;
  cursor: pointer;
  background-color: var(--background);
  padding: 0.75rem;
  border: 2px solid var(--light-grey);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -6px 6px 5px rgba(0, 0, 0, 0.5);

  &:hover {
    color: var(--accent);
  }

  .icon {
    height: 1.5rem;
    width: 1.6rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes fadeOverlayIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOverlayOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Styling for submit buttons within modals */
.submitButton {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

/* Responsive button styling for modals */
@media screen and (max-width: 1024px) {
  .submitButton {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .submitButton {
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
  }
}
