@use '@styles/_fonts';

.uploadForm {
  @include fonts.text-medium;
  min-width: 35rem;
  min-height: 20rem;
  height: 100%;
  width: 100%;
  background: black;
  color: var(--text-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  /* Responsive styles for smaller screens */
  @media screen and (max-width: 1200px) {
    min-width: 30rem;
    min-height: 18rem;
  }

  @media screen and (max-width: 1000px) {
    min-width: 25rem;
    min-height: 16rem;
  }

  @media screen and (max-width: 850px) {
    min-width: auto;
    width: 100%;
    min-height: 14rem;
  }

  &:hover {
    cursor: pointer;
    .uploadFormContent {
      transform: scale(1.05);
      filter: brightness(0.9);
    }
  }

  &.dragover {
    .daytimeBg, .daytimeImage {
      opacity: 0;
    }

    .nighttimeBg, .nighttimeImage {
      opacity: 1;
    }

    .uploadFormContent {
      border-color: rgba(0, 0, 0, 0);

      .text {
        opacity: 0;
      }

      .textHover {
        opacity: 1;
      }
    }
  }

  .daytimeBg, .nighttimeBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: opacity 1s ease;
  }

  .daytimeBg {
    background: radial-gradient(83.97% 212.16% at 78.03% -26.16%, #441B6F 0%, #FFCA41 100%);
  }

  .nighttimeBg {
    background: radial-gradient(83.97% 212.16% at 78.03% -26.16%, #441B6F 0%, rgba(23, 23, 66, 0) 100%);
    opacity: 0;
  }

  .daytimeImage, .nighttimeImage {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15rem;
    height: 10rem;
    transition: opacity 1s ease;
    pointer-events: none;

    @media screen and (max-width: 1000px) {
      width: 12rem;
      height: 8rem;
    }

    @media screen and (max-width: 850px) {
      width: 10rem;
      height: 6.5rem;
    }
  }

  .uploadFormContent {
    position: relative;
    border: 2px dashed var(--text-colour);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding: 1.75rem 4rem;
    width: fit-content;
    transition: transform 0.3s ease, filter 0.3s ease, border-color 0.3s ease;

    @media screen and (max-width: 1200px) {
      padding: 1.5rem 3rem;
      gap: 1rem;
    }

    @media screen and (max-width: 1000px) {
      padding: 1.25rem 2rem;
      gap: 0.75rem;
    }

    @media screen and (max-width: 850px) {
      padding: 1rem 1.5rem;
      gap: 0.5rem;
    }

    &.disabled {
      display: none;
    }

    &.dragover {
      border-color: rgba(0, 0, 0, 0);
    }

    .icon {
      width: 3.125rem;
      height: 3.125rem;
      //mix-blend-mode: overlay; // This gets fucked by the filter and transform
      opacity: 0.8;

      @media screen and (max-width: 1000px) {
        width: 2.5rem;
        height: 2.5rem;
      }

      @media screen and (max-width: 850px) {
        width: 2rem;
        height: 2rem;
      }
    }

    .text, .textHover {
      margin: 0;
      transition: opacity 0.3s ease;
    }

    .textHover {
      opacity: 0;
      margin-top: -2.75rem;
    }

    .input {
      display: none;
    }
  }

  .fileList {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding: 0;
    max-width: 75%;

    .fileItem {
      margin: 0;
      display: flex;
      align-items: center;
      gap: 1rem;

      button {
        all: unset;
        transition: filter 0.3s ease, box-shadow 0.3s ease;
        display: flex;
        align-items: center;
        border-radius: 100%;
        padding: 0.5rem;

        img {
          width: 0.75rem;
          height: 0.75rem;
        }

        &:hover {
          cursor: pointer;
          filter: brightness(0.8);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
        }
      }

      span {
        @include fonts.text-medium;
      }
    }
  }
}