@use '@styles/_fonts';

.uploadModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  height: 34rem;
  padding: 0 2rem;

  .title {
    all: unset;
    @include fonts.title-large;
  }

  .submitButton {
    margin-top: 1.25rem;
  }
}

@media screen and (max-width: 1200px) {
  .uploadModal {
    width: 35rem;
    height: 32rem;
    padding: 0 1.5rem;

    .submitButton {
      margin-top: 1rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .uploadModal {
    width: 30rem;
    height: 30rem;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 850px) {
  .uploadModal {
    width: 90vw;
    max-width: 26rem;
    height: auto;
    min-height: 26rem;
    padding: 0 1rem;
  }
}