@use '@styles/_fonts';

.uploadModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  height: 34rem;
  padding: 0 2rem;

  .title {
    all: unset;
    @include fonts.title-large;
  }

  .submitButton {
    margin-top: 1.25rem;
  }
}