@use '@styles/_fonts';


.uploadModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  padding: 0 2rem;

  .title {
    all: unset;
    @include fonts.title-large;
  }
}

@media screen and (max-width: 1024px) {
  .uploadModal {
    width: 35rem;
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .uploadModal {
    width: 90vw;
    max-width: 26rem;
    padding: 0 1rem;
  }
}