.chartContainer {
    height: 100%;
    width: 100%;

    .valueBox {
        position: absolute;
        top: 3px;
        left: 7px;
        padding: 5px;
        border: 3px solid black;
        border-radius: 5px;
        color: black;
        font-size: 0.5em;
        z-index: 1;
        white-space: pre-wrap;
        overflow: auto;
        text-align: left;
        max-width: 25%;
        max-height: 8.2%;
    }

    .chart {
        // Calculate available width: 100vw - left sidebar - right sidebar - padding
        max-width: calc(100vw - var(--left-sidebar-width, var(--left-sidebar-collapsed-width)) - var(--right-sidebar-width, 0px) - var(--chart-container-padding));
        
        :global(.highcharts-root) {
            font-family: 'Roboto', sans-serif !important;
        }

        // Remove width constraint in fullscreen mode
        :fullscreen & {
            max-width: none;
        }
    }

    .loading {
        position: absolute;
        display: block;
        margin: auto;
        width: 100%;
    }
}







