@use '@styles/_fonts';
@use '@styles/_variables';
@use "sass:map"; 

.footer {
    @include fonts.nav-title;
    background: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 2rem 2rem;
    color: var(--text-colour);
    position: sticky;
    z-index: map.get(variables.$z-index, footer);
    width: 100%;
    box-sizing: border-box;
    min-height: 3rem;
    gap: 1.5rem;

    > * {
        margin: 0 1rem;  
    }

    .title-group {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-shrink: 0;
        
        .copyright {
            @include fonts.text-huge; 
            color: var(--tertiary);  
            filter: brightness(2);
            white-space: nowrap;
        }

        .title {
            @include fonts.nav-title;  
            margin-left: 0.5rem;
            white-space: nowrap;
        }
    }

    img {
        height: auto;
        flex-shrink: 0;
    }

    .buttons {
        display: flex;
        gap: 0.5rem;
        flex-shrink: 0;
        margin-left: auto;

        > * {
            background: none;
            width: fit-content; 
            font-size: 2.5rem;
            padding: 0 0.5rem;
            align-items: center;
            display: flex;
            flex-shrink: 0;

            &:hover {
                filter: brightness(0.8);
            }

            &:active {
                box-shadow: 0px 0px 3px #000000;
                transition: box-shadow 1s;
                transition-delay: -0.5s;
            }

            .icon {
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
            }
        }
    }
}

/* Responsive styles for smaller desktop windows */
@media screen and (max-width: 1200px) {
  .footer {
    padding: 1rem 1.5rem 2rem 1.5rem;

    > * {
        margin: 0 0.75rem;  
    }

    .title-group {
        .copyright {
            font-size: 0.8rem;
        }

        .title {
            font-size: 0.9rem;
        }
    }

    .buttons {
        > * {
            font-size: 2rem;
            padding: 0 0.35rem;

            .icon {
                width: 2rem;
                height: 2rem;
            }
        }
    }
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    padding: 0.75rem 1rem 1.5rem 1rem;
    gap: 1rem;

    > * {
        margin: 0 0.5rem;  
    }

    .title-group {
        .copyright {
            font-size: 0.7rem;
        }

        .title {
            font-size: 0.8rem;
            margin-left: 0.25rem;
        }
    }

    .buttons {
        gap: 0.35rem;

        > * {
            font-size: 1.5rem;
            padding: 0 0.25rem;

            .icon {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
  }
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    gap: 0.75rem;

    > * {
        margin: 0;  
    }

    .title-group {
        min-width: fit-content;

        .copyright {
            font-size: 0.6rem;
        }

        .title {
            font-size: 0.7rem;
            margin-left: 0.15rem;
        }
    }

    img {
        display: none;
    }

    .buttons {
        gap: 0.25rem;

        > * {
            font-size: 1.2rem;
            padding: 0 0.2rem;

            .icon {
                width: 1.2rem;
                height: 1.2rem;
            }
        }
    }
  }
}


