.modelContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}


.myObject {
    border: solid
}

.control-bar {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.playbarContainer {
    width: 100%;
    background-color: black;
    padding-right: 2rem;
    box-sizing: border-box;
}

