.modelContainer {
    /* margin: auto auto auto auto; */
    border: 2px;
    height: 100%;
    width: 100%;
}


.myObject {
    border: solid
}

.control-bar {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.playbarContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
}

