.modelContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.myObject {
    border: solid
}

.control-bar {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-right: 0.25rem;
}

.accelDisplay {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: black;
    font-family: monospace;
}

.accelDisplay {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: black;
    font-family: monospace;
}

.accelItem {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
}

.accelValue {
    display: inline-block;
    width: 60px;
    text-align: right;
}

.playbarContainer {
    width: 100%;
    background-color: black;
    padding-right: 2rem;
    box-sizing: border-box;
}

