.chartCard {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &.multiView {
    :global(.highcharts-subtitle) {
      display: none !important; // hide subtitle in multiview to save space 
    }
  }
}
