@use '@styles/_fonts';

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 3rem;
  color: var(--text-colour);

  .emptyStateHeading {
    @include fonts.title-small;
    font-weight: 300;
    line-height: 0rem;
    color: var(--text-colour);
  }

  .emptyStateDescription {
    @include fonts.title-mini;
    color: var(--alt-text);
    padding-bottom: 1rem;
  }
}
