@use '@styles/_fonts';

.title {
  @include fonts.title-medium;
  text-align: left;
  color: var(--text-colour);
  margin: 1.5rem 0 1rem 0;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 3rem;
  color: var(--text-colour);

  .emptyStateHeading {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
    color: var(--text-colour);
  }

  .emptyStateDescription {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    max-width: 31.25rem;
    line-height: 1.6;
    color: var(--alt-text);
  }
}

