@use '@styles/_fonts';

$chevron-margin-right: 0.75rem;
$dropdown-transition-time: 0.3s;
$border-radius: 8px;

.dropdown {
  @include fonts.text-medium;
  min-width: 15rem;
  border-radius: 8px;
  background-color: var(--light-grey);
  color: var(--text-colour);
  width: 240px;
  cursor: pointer;
  position: relative; // Ensure the options dropdown is positioned relative to the parent

  .dropdownContent {
    font-weight: bold;
    padding: 0.75rem 0.75rem 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $border-radius;

    .icon {
      width: 1rem;
      height: 1rem;
      transition: transform $dropdown-transition-time ease;
    }
  }

  .options {
    position: absolute;
    top: calc(100% - $border-radius); // Overlap the parent by the border-radius size
    left: 0;
    width: 100%;
    background-color: var(--light-grey);
    border-radius: 0 0 $border-radius $border-radius;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 5;
    overflow: hidden;

    // Collapsed state
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    pointer-events: none;
    transition: opacity $dropdown-transition-time ease, transform $dropdown-transition-time ease;

    // Expanded state
    &.open {
      opacity: 1;
      transform: scaleY(1);
      pointer-events: all;
    }

    .option {
      padding: 0.5rem 1rem;
      text-align: left;
      transition: background-color $dropdown-transition-time ease;

      &:hover {
        background-color: var(--accent);
      }
    }
  }

  &.open {
    .dropdownContent {
      border-radius: $border-radius $border-radius 0 0;
    }

    .dropdownContent .icon {
      transform: rotate(180deg);
    }
  }
}

