@use '@styles/_fonts';
@use '@styles/_mixins';

.presetListWrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  width: 100%;
  padding-bottom: 4rem;
  padding-right: 1rem;

  .title {
    all: unset;
    @include fonts.title-large;
    color: var(--text-colour);
    text-align: left;
    margin-left: 15%;
  }
  
  .presetList {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1.5rem;
    width: max-content;
    margin: 0 auto;
  }
}

/* Responsive styles for larger screens */
@include mixins.respond-to(ultrawide) {
  .presetListWrapper {
    .presetList {
      grid-template-columns: repeat(3, auto);
      gap: 1.5rem;
    }
  }
}

/* Responsive styles for smaller desktop windows */
@include mixins.respond-to(desktop) {
  .presetListWrapper {
    padding-right: 1rem;

    .presetList {
      grid-template-columns: repeat(2, auto);
      gap: 1.5rem;
    }
  }
}

@include mixins.respond-to(tablet) {
  .presetListWrapper {
    padding-right: 0.75rem;

    .title {
      margin-left: 10%;
    }
    
    .presetList {
      grid-template-columns: repeat(2, auto);
      gap: 1.25rem;
    }
  }
}

@include mixins.respond-to(mobile) {
  .presetListWrapper {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .title {
      margin-left: 0.5rem;
    }
    
    .presetList {
      grid-template-columns: 1fr;
      width: fit-content;
      margin: 0 auto;
      gap: 1rem;
    }
  }
}
