@use '@styles/_fonts';
@use '@styles/_variables';

.presetCard {
    background-color: var(--tertiary);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 12rem;
    padding: 1rem;
    cursor: pointer;
    overflow: hidden;
    
    &:hover {
        filter: brightness(1.2);
    }
    
    .image {
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-radius: 0.75rem;
    }

    .content {
        display: flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        width:100%;
        height:50%;
    }


}
