@use '@styles/_fonts';
@use '@styles/_variables';

.presetCard {
    background-color: var(--tertiary);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22rem;
    height: 16rem;
    padding: 1.3rem;
    cursor: pointer;
    overflow: hidden;
    
    &:hover {
        filter: brightness(1.3);
    }
    
    .image {
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-radius: 0.75rem;
    }

    &:hover .image {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        filter: brightness(0.8);
    }

    .content {
        display: flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:center;
        width:100%;
        height:50%;
    }
    
    .title {
        @include fonts.text-medium;
        color: var(--text-colour);
        padding-bottom: 0.6rem;
    }

    .description {
        @include fonts.text-small;
        color: var(--alt-text);
        text-align: left;
    }
}
